h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Barlow, sans-serif;
  font-size: 54px;
  line-height: 64px;
  font-weight: 400;
}

h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: Barlow, sans-serif;
  font-size: 34px;
  line-height: 41px;
  font-weight: 400;
}

p {
  margin-bottom: 15px;
  font-family: Barlow, sans-serif;
  font-size: 17px;
  line-height: 28px;
}

a {
  padding-bottom: 5px;
  border-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #1b1b1c;
  color: #1b1b1c;
  text-decoration: none;
}

li {
  margin-bottom: 8px;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container.flex-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.container.relative {
  position: relative;
  background-color: transparent;
}

.container.flex-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container.flex-horizontal.align-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.container.flex-horizontal.align-left.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.flex-horizontal.align-flex-h-spacebetween {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container.flex-horizontal.align-flex-h-spacebetween.align-flex-h-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container.container-flexmargin {
  padding-right: 0px;
  padding-bottom: 0px;
}

.container.privacypolicy-text {
  margin-bottom: -80px;
  padding-right: 15%;
}

.nav-link {
  margin: 10px;
  padding: 10px;
  font-family: Barlow, sans-serif;
  color: #1b1b1c;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #6506c0;
}

.nav-link.w--current {
  border-width: 0px;
  border-bottom-color: #1b1b1c;
  color: #1b1b1c;
  font-weight: 700;
}

.nav-link.discovery {
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid #1b1b1c;
}

.nav-link.discovery:hover {
  border-color: #6506c0;
}

.sangha-logo {
  padding-top: 4px;
  background-color: transparent;
}

.navbar {
  margin-top: 15px;
  margin-bottom: 160px;
  background-color: transparent;
}

._6col {
  width: 50%;
  margin-right: 15px;
  margin-left: 15px;
  float: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 556px;
  -ms-flex: 0 0 556px;
  flex: 0 0 556px;
  background-color: transparent;
}

._6col.innerpage {
  width: 100%;
}

.highlight {
  position: static;
  display: inline-block;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
}

.intro {
  max-width: 653px;
  margin-top: 140px;
  padding-right: 68px;
  float: right;
}

.section-services {
  margin-top: 80px;
}

.card-service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 946px;
  height: 100%;
  margin-bottom: 40px;
  padding: 35px 68px 40px 293px;
  float: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #fff;
  background-image: url('../images/arrow-down.svg');
  background-position: 44px 42px;
  background-repeat: no-repeat;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08);
  cursor: pointer;
}

.card-service:hover {
  box-shadow: 0 0 45px 0 rgba(39, 0, 78, .13);
}

.p-big {
  margin-bottom: 0px;
  font-family: Barlow, sans-serif;
  font-size: 21px;
  line-height: 34px;
  font-style: normal;
}

.section-testimonials {
  margin-top: 70px;
}

.testimonial-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  padding-right: 68px;
  padding-left: 127px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 780px;
  -ms-flex-preferred-size: 780px;
  flex-basis: 780px;
}

.testimonial-content.main-title {
  display: block;
  width: 653px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
  background-color: #fff;
}

.name {
  width: 210px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 90px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: none;
}

.colour-purple {
  color: #6506c0;
}

.slide-nav {
  display: none;
}

.right-arrow {
  right: 761px;
  bottom: 89px;
  width: 30px;
  height: 40px;
  padding-top: 4px;
  text-align: right;
}

.left-arrow {
  left: 34px;
  bottom: 89px;
  width: 30px;
  height: 40px;
  margin-left: 0px;
  padding-top: 4px;
  text-align: left;
}

.slider {
  height: 100%;
  margin-top: 40px;
  background-color: transparent;
}

.testimonial-name {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 392px;
  padding-right: 0px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 360px;
  -ms-flex-preferred-size: 360px;
  flex-basis: 360px;
}

.testimonial-photo {
  width: 210px;
  height: 210px;
  margin-bottom: 30px;
  margin-left: 98px;
  padding-right: 0px;
  border-radius: 50%;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
}

.testimonial-photo.solange {
  background-image: url('../images/testimonial-solangefreile.jpg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.testimonial-photo.mm {
  background-image: url('../images/testimonial-mariamarthacapdevilla.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.testimonial-photo.edgar {
  background-color: #6fec85;
  background-image: url('../images/testimonial-edgarbalverdi.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.testimonial-photo.cecilia {
  background-image: url('../images/testimonial-ceciliafreile.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.testimonial-photo.marcelo {
  background-color: #6fec85;
  background-image: url('../images/testimonial-marcelocamara.jpg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.testimonial-photo.leonardo {
  background-image: url('../images/testimonial-leonardofs.jpg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.shape-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99;
  width: 120px;
  height: 120px;
  margin-top: -45px;
  float: right;
}

.shape-circle.little {
  left: 96px;
  top: 167px;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 50px;
  height: 50px;
  margin-top: 0px;
}

.section-freebie {
  position: relative;
  padding-top: 250px;
  background-image: url('../images/shape-dots.svg');
  background-position: 100% 50px;
  background-repeat: no-repeat;
}

.detail {
  font-family: Barlow, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.detail.margin-top-25 {
  margin-top: 25px;
}

.detail.colour-green.footer-emails-title {
  margin-top: 15px;
  margin-bottom: -8px;
}

.detail.title-footer {
  margin-bottom: 19px;
  color: #fff;
}

.detail.margin-top-15 {
  margin-top: 15px;
  line-height: 21px;
}

.img-workbook {
  position: absolute;
  margin-left: 402px;
}

.form-freebie {
  width: 360px;
}

.form-textfield {
  height: 44px;
  margin-bottom: 15px;
  padding-top: 6px;
  border: 1px solid #6506c0;
  border-radius: 2.5px;
  background-color: transparent;
  font-family: Barlow, sans-serif;
  font-size: 14px;
}

.form-textfield::-webkit-input-placeholder {
  color: #333;
}

.form-textfield:-ms-input-placeholder {
  color: #333;
}

.form-textfield::placeholder {
  color: #333;
}

.form-textfield.tf-inverse {
  margin-bottom: 0px;
  border-color: #fff;
  color: #fff;
}

.form-textfield.tf-inverse:focus {
  border-color: #6fec85;
}

.form-textfield.tf-inverse::-webkit-input-placeholder {
  color: #fff;
}

.form-textfield.tf-inverse:-ms-input-placeholder {
  color: #fff;
}

.form-textfield.tf-inverse::placeholder {
  color: #fff;
}

.button {
  width: 100%;
  height: 44px;
  margin-bottom: 0px;
  padding-top: 7px;
  border-radius: 2.5px;
  background-color: #6506c0;
  font-weight: 500;
  text-transform: uppercase;
}

.button:hover {
  color: #6fec85;
}

.sangha-body {
  font-family: Barlow, sans-serif;
  color: #1b1b1c;
  font-size: 17px;
  line-height: 29px;
}

.div-block {
  -webkit-flex-basis: 390px;
  -ms-flex-preferred-size: 390px;
  flex-basis: 390px;
}

.div-form {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 360px;
  -ms-flex-preferred-size: 360px;
  flex-basis: 360px;
}

.section-cta {
  margin-top: 200px;
  margin-bottom: 90px;
}

.cta-block {
  display: none;
  height: 260px;
  padding-top: 73px;
  padding-right: 0px;
  padding-left: 68px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #3d0772;
  background-image: url('../images/shape-smile.svg'), url('../images/icon-smile.svg');
  background-position: 57% -54px, 94% 50%;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
}

.colour-white {
  color: #fff;
}

.button-ghost {
  display: inline-block;
  padding-bottom: 20px;
  border-bottom: 1px solid #6fec85;
  color: #6fec85;
  font-size: 26px;
  text-decoration: none;
}

.button-ghost:hover {
  border-color: #fff;
  color: #fff;
}

.section-footer {
  background-color: #6506c0;
}

.sangha-symbol {
  margin-right: 25px;
}

.footer-txt {
  font-size: 12px;
}

.footer-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.footer-smicon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #6506c0;
  border-radius: 50px;
}

.footer-smicon.first {
  margin-right: 15px;
}

.sangha-services-shape {
  position: absolute;
  z-index: -2;
  width: 445px;
  height: 445px;
  margin-top: 0px;
}

.ball-main {
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 445px;
  margin-top: 290px;
  margin-left: -200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ball-lines {
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate(-46deg);
  -ms-transform: rotate(-46deg);
  transform: rotate(-46deg);
}

.card-service-information {
  position: relative;
  display: block;
  margin-top: 15px;
}

.card-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-card-detail {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.p-card-detail.short {
  width: 400px;
}

.card-service-button {
  width: 100%;
  height: 44px;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 2.5px;
  background-color: #6506c0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.card-service-button:hover {
  color: #6fec85;
}

.img-cuchitis {
  position: absolute;
  margin-top: 39px;
  margin-left: -352px;
  box-shadow: 0 0 6px 0 #fff;
}

.outline-circle {
  position: absolute;
  left: 80px;
  top: 83px;
  z-index: 2;
  display: block;
  width: 260px;
  height: 260px;
  border: 1px solid #6506c0;
  border-radius: 50%;
}

.caps {
  font-weight: 400;
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.form-message {
  font-size: 14px;
  text-align: center;
}

.success-message {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-radius: 2.5px;
  background-color: #6fec85;
}

.error-message {
  margin-top: 15px;
  border-radius: 2.5px;
}

.link {
  border-width: 1px;
  border-color: #6506c0;
}

.testimonials-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.big-title {
  max-width: 770px;
  margin-top: 0px;
}

.tiny {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.footer-band {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3d0772;
}

._4col {
  width: 40%;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 360px;
  -ms-flex: 0 0 360px;
  flex: 0 0 360px;
}

._4col.footer-emails {
  padding-top: 10px;
}

.flexgrid-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flexgrid-horizontal.footer-legal {
  margin-top: 50px;
  color: #fff;
  font-size: 14px;
}

.colour-green {
  color: #6fec85;
}

.footer-content {
  padding-top: 60px;
  padding-bottom: 40px;
  color: #fff;
}

.img-logo-footer {
  margin-top: -31px;
  margin-bottom: 24px;
}

._1col {
  margin-right: 15px;
  margin-left: 15px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 68px;
  -ms-flex-preferred-size: 68px;
  flex-basis: 68px;
}

._2col {
  margin-right: 15px;
  margin-left: 15px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 165px;
  -ms-flex-preferred-size: 165px;
  flex-basis: 165px;
}

.text-field {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.form-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.button-arrow {
  width: 44px;
  height: 44px;
  margin-left: 15px;
  padding-top: 6px;
  padding-left: 17px;
  border: 0px solid #fff;
  border-radius: 2.5px;
  background-color: #fff;
  background-image: url('../images/arrow-right-purple.svg');
  background-position: 10px 50%;
  background-repeat: no-repeat;
  color: transparent;
  font-size: 20px;
  font-weight: 400;
}

.button-arrow:hover {
  border-width: 0px;
  background-color: #6fec85;
  box-shadow: 0 0 24px 1px #3d0772;
}

.footer-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.smicon-footer:hover {
  opacity: 1;
}

.link-footer {
  color: #fff;
}

.link-footer:hover {
  color: #6fec85;
}

.form-message {
  color: #000;
}

.overline {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-bottom: 4px;
  border-bottom: 1px solid #6fec85;
}

.section-privacypolicy {
  padding-top: 80px;
  padding-bottom: 0px;
}

.paragraph {
  padding-top: 80px;
  padding-bottom: 80px;
}

.privacypolicy-banner {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.ul-privacypolicy {
  margin-top: 25px;
  margin-bottom: 35px;
}

.link-2 {
  padding-bottom: 14px;
}

.link-underline {
  border-width: 1px;
}

.link-underline:hover {
  border-color: #6506c0;
}

.margin-top-25 {
  margin-top: 25px;
}

.spacer {
  margin-bottom: 60px;
}

.p-testimonials {
  margin-bottom: 0px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 18.5px;
  line-height: 30px;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 991px) {
  h1 {
    font-size: 40px;
    line-height: 49px;
  }
  h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .container {
    max-width: 100%;
    margin-right: 30px;
    margin-left: 30px;
  }
  .container.flex-horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .container.flex-horizontal.align-left.align-center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .container.privacypolicy-text {
    margin-bottom: 0px;
  }
  .nav-link {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 66px;
    padding-left: 0px;
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: left;
  }
  .nav-link:hover {
    color: #fff;
  }
  .nav-link.w--current {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    color: #6fec85;
    font-weight: 400;
    text-decoration: none;
  }
  .nav-link.discovery {
    padding-left: 0px;
    border-width: 0px;
  }
  .navbar {
    z-index: 10001;
    margin-bottom: 135px;
  }
  ._6col {
    width: 60%;
    -webkit-box-flex: 60%;
    -webkit-flex: 60%;
    -ms-flex: 60%;
    flex: 60%;
  }
  .highlight {
    display: inline-block;
  }
  .intro {
    max-width: 60%;
    margin-left: 0px;
    padding-right: 0px;
  }
  .section-services {
    margin-top: 70px;
  }
  .card-service {
    width: 100%;
    padding-top: 28px;
    padding-left: 110px;
  }
  .p-big {
    font-size: 19px;
    line-height: 30px;
  }
  .section-testimonials {
    margin-top: 55px;
  }
  .testimonial-content {
    width: 60%;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-basis: 65%;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
  }
  .testimonial-content.main-title {
    width: 65%;
  }
  .name {
    width: 190px;
    margin-left: 0px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center;
  }
  .right-arrow {
    right: 490px;
    bottom: 100px;
  }
  .left-arrow {
    left: -11px;
    bottom: 100px;
  }
  .testimonial-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    margin-top: 0px;
    margin-right: 49px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-basis: 190px;
    -ms-flex-preferred-size: 190px;
    flex-basis: 190px;
  }
  .testimonial-photo {
    width: 190px;
    height: 190px;
    margin-left: 30px;
  }
  .testimonial-photo.solange {
    margin-left: 0px;
  }
  .testimonial-photo.mm {
    margin-left: 0px;
  }
  .testimonial-photo.edgar {
    margin-left: 0px;
  }
  .testimonial-photo.cecilia {
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .testimonial-photo.marcelo {
    margin-left: 0px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .testimonial-photo.leonardo {
    margin-left: 0px;
  }
  .shape-circle {
    width: 100px;
    height: 100px;
    margin-top: -30px;
  }
  .shape-circle.little {
    left: 43px;
    top: 150px;
    margin-top: 5px;
  }
  .section-freebie {
    padding-top: 137px;
  }
  .detail {
    font-size: 12px;
  }
  .img-workbook {
    top: 193px;
    right: 22px;
    display: block;
    margin-left: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .form-freebie {
    width: 100%;
  }
  .div-block {
    width: 50%;
    margin-bottom: 30px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .div-form {
    width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .section-cta {
    margin-top: 90px;
  }
  .cta-block {
    height: 200px;
    padding-top: 56px;
    padding-left: 30px;
    background-image: url('../images/icon-smile.svg'), url('../images/shape-smile.svg');
    background-position: 94% 50%, 57% -77px;
    background-size: 80px, auto;
    background-repeat: no-repeat, no-repeat;
  }
  .colour-white.margin-bottom10 {
    margin-bottom: 5px;
  }
  .button-ghost {
    padding-bottom: 10px;
    font-size: 18.5px;
    line-height: 25px;
  }
  .ball-main {
    margin-left: -254px;
  }
  .p-card-detail.short {
    width: 350px;
  }
  .img-cuchitis {
    max-width: 120px;
    margin-left: -150px;
  }
  .outline-circle {
    left: 20px;
    top: 103px;
    display: none;
    width: 220px;
    height: 220px;
  }
  .bold {
    font-weight: 700;
  }
  .icon-arrow {
    max-width: 40%;
  }
  .nav-menu {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 102px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #3d0772;
    background-image: url('../images/shape-dots.svg');
    background-position: 105% 105px;
    background-repeat: no-repeat;
    color: #fff;
  }
  .menu-button {
    z-index: 1500;
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .icon {
    color: #000;
  }
  .testimonials-flex {
    width: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .big-title {
    max-width: auto;
  }
  ._4col {
    -webkit-box-flex: 40%;
    -webkit-flex: 40%;
    -ms-flex: 40%;
    flex: 40%;
  }
  ._4col.empty {
    display: block;
  }
  ._4col.flex-align-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  ._4col.full {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }
  .flexgrid-horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  ._1col.empty {
    display: none;
  }
  ._2col {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
  }
  ._2col.empty {
    display: none;
  }
  .spacer {
    margin-bottom: 50px;
  }
  .p-testimonials {
    font-size: 18.5px;
    line-height: 30px;
  }
  .heading {
    margin-left: 3px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 39px;
    line-height: 46px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  li {
    font-size: 16px;
    line-height: 26px;
  }
  .container {
    margin-right: 20px;
    margin-left: 20px;
  }
  .navbar {
    margin-bottom: 90px;
  }
  ._6col {
    width: 100%;
  }
  .highlight {
    display: inline;
  }
  .intro {
    max-width: 65%;
    margin-top: 130px;
    margin-left: 0px;
  }
  .card-service {
    padding-right: 25px;
    padding-left: 70px;
    background-position: 23px 42px;
  }
  .p-big {
    font-size: 18px;
    line-height: 30px;
  }
  .testimonial-content.main-title {
    width: 100%;
  }
  .name {
    width: 100%;
    margin-left: 0px;
    padding-right: 0px;
  }
  .right-arrow {
    top: -177px;
    right: 367px;
  }
  .left-arrow {
    left: -4px;
    top: -177px;
    margin-left: 0px;
  }
  .testimonial-name {
    margin-top: 0px;
    margin-right: 30px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-basis: 150px;
    -ms-flex-preferred-size: 150px;
    flex-basis: 150px;
  }
  .testimonial-photo {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .testimonial-photo.solange {
    margin-bottom: 0px;
    background-size: contain;
  }
  .testimonial-photo.mm {
    margin-bottom: 0px;
    background-size: contain;
  }
  .testimonial-photo.edgar {
    margin-bottom: 0px;
    background-size: contain;
  }
  .testimonial-photo.cecilia {
    background-size: contain;
  }
  .testimonial-photo.marcelo {
    margin-bottom: 0px;
    background-size: contain;
  }
  .testimonial-photo.leonardo {
    margin-bottom: 0px;
    background-size: contain;
  }
  .shape-circle.little {
    left: 39px;
    top: 93px;
    width: 40px;
    height: 40px;
    margin-top: -2px;
  }
  .section-freebie {
    padding-top: 85px;
    background-position: 101% 0px;
  }
  .img-workbook {
    right: 20px;
    text-align: right;
  }
  .section-cta {
    margin-top: 100px;
    margin-bottom: 60px;
  }
  .cta-block {
    padding-left: 0px;
    background-image: url('../images/shape-smile.svg');
    background-position: 57% -77px;
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
  }
  .ball-main {
    margin-top: 235px;
    margin-left: -325px;
  }
  .card-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .p-card-detail {
    margin-bottom: 20px;
  }
  .img-cuchitis {
    display: none;
    max-width: 100%;
    margin-top: 170px;
    margin-left: 287px;
  }
  .outline-circle {
    left: 22px;
    top: 74px;
    width: 140px;
    height: 140px;
  }
  .nav-menu {
    background-position: 107% 114px;
  }
  .img-workbook-size {
    max-width: 80%;
  }
  .footer-band {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  ._4col {
    width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  ._4col.empty {
    display: none;
  }
  .flexgrid-horizontal {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flexgrid-horizontal.footer-legal {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .footer-social {
    margin-bottom: 15px;
  }
  .overline.bold {
    display: inline-block;
  }
  .spacer {
    margin-bottom: 40px;
  }
  .p-testimonials {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (max-width: 479px) {
  .container {
    margin-right: 15px;
    margin-left: 15px;
  }
  .container.flex-horizontal.align-left.align-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .container.privacypolicy-text {
    padding-right: 0%;
  }
  .nav-link {
    margin-left: 61px;
  }
  .nav-link.discovery {
    line-height: 29px;
  }
  .navbar {
    margin-bottom: 90px;
  }
  ._6col {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .intro {
    max-width: 100%;
    margin-top: 50px;
  }
  .section-services {
    margin-top: 180px;
  }
  .card-service {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    background-position: 17px 28px;
    background-size: 16px;
  }
  .section-testimonials {
    margin-top: 79px;
  }
  .testimonial-content {
    display: block;
    width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .name {
    width: 170px;
    margin-top: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 30px;
    float: right;
    text-align: left;
  }
  .right-arrow {
    left: 122px;
    top: 44px;
    right: auto;
    bottom: auto;
    overflow: auto;
  }
  .left-arrow {
    left: 0px;
    top: 44px;
    bottom: auto;
  }
  .slider {
    height: 100%;
    margin-top: 30px;
  }
  .testimonial-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .testimonial-photo {
    margin-bottom: 0px;
    margin-left: 16px;
    padding-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 120px;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    background-size: contain;
  }
  .testimonial-photo.solange {
    margin-left: 16px;
    float: left;
  }
  .testimonial-photo.mm {
    margin-left: 16px;
    float: left;
  }
  .testimonial-photo.edgar {
    margin-left: 16px;
    float: left;
  }
  .testimonial-photo.cecilia {
    margin-left: 16px;
    float: left;
  }
  .testimonial-photo.marcelo {
    margin-left: 16px;
    float: left;
  }
  .testimonial-photo.leonardo {
    margin-left: 16px;
    float: left;
  }
  .shape-circle {
    width: 70px;
    height: 70px;
    margin-top: -84px;
  }
  .shape-circle.little {
    left: 19px;
    top: 115px;
    margin-top: -32px;
  }
  .section-freebie {
    padding-top: 80px;
    background-position: 116% -14px;
    background-size: 40%;
  }
  .img-workbook {
    display: none;
  }
  .div-block {
    width: 100%;
  }
  .div-form {
    width: 100%;
    margin-top: -15px;
  }
  .section-cta {
    margin-top: 70px;
  }
  .cta-block {
    padding-top: 34px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .button-ghost {
    margin-top: 10px;
    padding-bottom: 11px;
    font-size: 19px;
  }
  .sangha-symbol {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .footer-icons {
    margin-top: 15px;
  }
  .sangha-services-shape {
    width: 300px;
    height: 300px;
  }
  .ball-main {
    right: 96px;
    bottom: -347px;
    width: 350px;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 0px;
  }
  .p-card-detail.short {
    width: 100%;
  }
  .outline-circle {
    left: -3px;
    top: 121px;
    display: none;
    width: 140px;
    height: 140px;
  }
  .bold {
    font-weight: 700;
  }
  .nav-menu {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 15px;
    background-position: 118% 93%;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .testimonials-flex {
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .footer-band {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  ._4col {
    width: 100%;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .flexgrid-horizontal {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flexgrid-horizontal.footer-legal {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .footer-content {
    padding-top: 40px;
  }
  .footer-social {
    width: 150px;
    margin-bottom: -5px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .privacypolicy-banner {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .ul-privacypolicy {
    padding-left: 30px;
  }
}

